section.slider.container
    .slider__slide
        .slider__text
            .slider__info
                h2 Стоматологическая клиника
                p для взрослых и детей
                a(href="#") Записаться на прием
            form(action="#").slider__form
                p Записаться на приём
                input(type="tel", placeholder="Введите свой номер телефона")
                img(src="./images/decor/capcha.jpg", alt="capcha")
                input(type="submit", value="ОТПРАВИТЬ")
                span Нажимая на кнопку «Отправить», вы соглашаетесь с Политикой конфиденциальности
    .slider__slide
        .slider__text
            .slider__info
                h2 Стоматологическая клиника
                p для взрослых и детей
                a(href="#") Записаться на прием
            form(action="#").slider__form
                p Записаться на приём
                input(type="tel", placeholder="Введите свой номер телефона")
                img(src="./images/decor/capcha.jpg", alt="capcha")
                input(type="submit", value="ОТПРАВИТЬ")
                span Нажимая на кнопку «Отправить», вы соглашаетесь с Политикой конфиденциальности